.actionButton {
    margin-top: 24px;
    height: 40px;
    background-color: #1C64F2;
    width: 359px;
    border-radius: 122px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    line-height: 32px;
    cursor: pointer;
    font-family: 'Graphik';
}