.cardcontainer {
    width: 360px;
    height: 69px;
    border-radius: 6px;
    background-color: #F0FDF4;
    
    .cardnote {
        color: #166534;
        line-height: 22.4px;
        font-size: 14px;
        padding: 12px 20px;
        text-align: left;
        font-weight: 400;
        font-family: 'Graphik';
    }
}