.forgot__password {
    font-size: 14px;
    font-family: 'Graphik';
    font-weight: 500;
    color: #1C64F2;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .link {
        cursor: pointer;
        text-decoration: none;
    }
}