@media (max-width: 320px) {
    .smallfieldcontainer {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .namefield {
            width: 100%;
            font-size: 14px;
            font-family: 'Graphik';
            font-weight: 400;
            color: #4B5563;
            margin: 0 auto;
            height: 36px;
        }

    }
    
    .bigcontainer {
        // height: 62px;
        margin: 12px 0 8px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .email__password {
            width: 100%;
            font-size: 14px;
            font-family: 'Graphik';
            font-weight: 400;
            color: #4B5563;
            margin-top: 8px;

            &:focus {
                outline: none;
                border: 1px solid red;
                // border: 1px solid #8ECAFE;
            }
        } 
            label {
                line-height: 18px;
            }
        }
    label {
        line-height: 18px;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .smallfieldcontainer {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .namefield {
            width: 100%;
            font-size: 14px;
            font-family: 'Graphik';
            font-weight: 400;
            color: #4B5563;
            margin: 0 auto;
            height: 36px;
        }

    }
    
    .bigcontainer {
        // height: 62px;
        margin: 12px 0 8px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .email__password {
            width: 100%;
            font-size: 14px;
            font-family: 'Graphik';
            font-weight: 400;
            color: #4B5563;
            margin-top: 8px;
        } 
            label {
                line-height: 18px;
            }
        }
    label {
        line-height: 18px;
    }
}
 
@media (min-width: 481px) and (max-width: 720px) {
    .smallfieldcontainer {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;

        .namefield {
            width: 100%;
            font-size: 14px;
            font-family: 'Graphik';
            font-weight: 400;
            color: #4B5563;
            margin: 0 auto;
            height: 36px;
        }

    }
    
    .bigcontainer {
        // height: 62px;
        margin: 12px 0 8px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .email__password {
            width: 100%;
            font-size: 14px;
            font-family: 'Graphik';
            font-weight: 400;
            color: #4B5563;
            margin-top: 8px;
        } 
            label {
                line-height: 18px;
            }
        }
    label {
        line-height: 18px;
    }
}

@media (min-width: 721px) and (max-width: 1024px) {
    .smallfieldcontainer {
        margin-top: 8px;
        display: flex;
        flex-direction: column;

        .namefield {
            width: 95%;
            font-size: 14px;
            font-family: 'Graphik';
            font-weight: 400;
            color: #4B5563;
            // margin: 0 auto;
            height: 36px;
        }

    }
    
    .bigcontainer {
        // height: 62px;
        margin: 12px 0 8px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .email__password {
            width: 100%;
            font-size: 14px;
            font-family: 'Graphik';
            font-weight: 400;
            color: #4B5563;
            margin-top: 8px;
        } 
            label {
                line-height: 18px;
            }
        }
    label {
        line-height: 18px;
    }
}

@media (min-width: 1025px) and (max-width: 1199px) {
    .smallfieldcontainer {
        margin-top: 8px;
        display: flex;
        flex-direction: column;

        .namefield {
            width: 95%;
            font-size: 14px;
            font-family: 'Graphik';
            font-weight: 400;
            color: #4B5563;
            // margin: 0 auto;
            height: 36px;
        }

    }
    
    .bigcontainer {
        // height: 62px;
        margin: 12px 0 8px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .email__password {
            width: 100%;
            font-size: 14px;
            font-family: 'Graphik';
            font-weight: 400;
            color: #4B5563;
            margin-top: 8px;
        } 
            label {
                line-height: 18px;
            }
        }
    label {
        line-height: 18px;
    }
}

@media (min-width: 1200px) {
.smallfieldcontainer {
    height: 62px;
    
    .namefield {
        width: 175px;
        font-size: 14px;
        font-family: 'Graphik';
        font-weight: 400;
        color: #4B5563;
    }
}

.bigcontainer, .passwordfield {
    height: 62px;
    margin: 20px 0 16px 0;

    .email__password {
        width: 360px;
        font-size: 14px;
        font-family: 'Graphik';
        font-weight: 400;
        color: #4B5563;
    }
}

}