.smallfieldcontainer {
    height: 62px;
    // margin-top: 37px;
    
    .namefield {
        width: 175px;
        font-size: 14px;
        font-family: 'Graphik';
        font-weight: 400;
        color: #4B5563;
    }
}

.bigcontainer {
    height: 62px;
    margin: 20px 0 16px 0;

    .email__password {
        width: 360px;
        font-size: 14px;
        font-family: 'Graphik';
        font-weight: 400;
        color: #4B5563;
    }

   
}

