@media (max-width: 320px) {
    .signupcontainer, .signincontainer {
        width: 100%;
        display: flex;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .getStarted {
                margin-top: 8px;
                font-size: 18px;
            }

            .logo {
                width: 48px;
                height: 48px;
            }
        }

        .content {
            margin-top: 24px;
            width: 100%;

            .borderline {
                display: none;
            }
        }

        .form {
            width: 100%;
        
            .namefields {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
            
            .emailerror {
                color: #7E8FB5;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Graphik';

            }

            .passworderror {
                font-size: 14px;
                color: #F04438;
                font-weight: 400;
                font-family: 'Graphik';
            }

            .passwordfield {
                position: relative;
            }

            .passwordcontainer {
                width: 100%;
                position: relative;
                margin: 30px 0 16px 0;
        
                .inputicon {
                    position: absolute;
                    top: 42px;
                    right: 14px;
                }

                .passwordlabel {
                    margin-top: 16px;
                }
        
                .passwordwithicon {
                    width: 100%;
                }
            }
        }

        .links {
            text-decoration: none;
            cursor: pointer;
        }

        .pageLink {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;

            .nav {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                gap: 4px;
                margin-top: 16px;

                .signinlink {
                font-size: 14px;
                font-weight: 400;
                font-family: 'Graphik';
                color: #667085;
                }

                .span {
                    font-size: 14px;
                    font-weight: 500;
                    color: #1C64F2;
                }
            }

        
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .signupcontainer, .signincontainer {
        width: 100%;
        display: flex;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .getStarted {
                margin-top: 8px;
                font-size: 18px;
            }

            .logo {
                width: 48px;
                height: 48px;
            }
        }

        .content {
            margin-top: 24px;
            width: 100%;

            .borderline {
                display: none;
            }
        }

        .form {
            width: 100%;
        
            .namefields {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
            
            .emailerror {
                color: #7E8FB5;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Graphik';

            }


            .passworderror {
                font-size: 14px;
                color: #F04438;
                font-weight: 400;
                font-family: 'Graphik';
            }

            .passwordfield {
                position: relative;
            }

            .passwordcontainer {
                width: 100%;
                position: relative;
                margin: 30px 0 16px 0;
        
                .inputicon {
                    position: absolute;
                    top: 42px;
                    right: 14px;
                }

                .passwordlabel {
                    margin-top: 16px;
                }
        
                .passwordwithicon {
                    width: 100%;
                }
            }
        }

        .links {
            text-decoration: none;
            cursor: pointer;
        }

        .pageLink {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;

            .nav {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                gap: 4px;
                margin-top: 16px;

                .signinlink {
                font-size: 14px;
                font-weight: 400;
                font-family: 'Graphik';
                color: #667085;
                }

                .span {
                    font-size: 14px;
                    font-weight: 500;
                    color: #1C64F2;
                }
            }

        
        }
    }
}

@media (min-width: 481px) and (max-width: 720px) {
    .signupcontainer, .signincontainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .getStarted {
                margin-top: 8px;
                // font-size: 24px;
            }

            .logo {
                width: 48px;
                height: 48px;
            }
        }

        .content {
            margin-top: 24px;
            width: 100%;

            .borderline {
                display: none;
            }
        }

        .form {
            width: 100%;
        
            .namefields {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
            
            .emailerror {
                color: #7E8FB5;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Graphik';

            }

            .passworderror {
                font-size: 14px;
                color: #F04438;
                font-weight: 400;
                font-family: 'Graphik';
            }

            .passwordfield {
                position: relative;
            }

            .passwordcontainer {
                width: 100%;
                position: relative;
                margin: 30px 0 16px 0;
        
                .inputicon {
                    position: absolute;
                    top: 42px;
                    right: 14px;
                }

                .passwordlabel {
                    margin-top: 16px;
                }
        
                .passwordwithicon {
                    width: 100%;
                }
            }
        }

        .links {
            text-decoration: none;
            cursor: pointer;
        }

        .pageLink {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;

            .nav {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                gap: 4px;
                margin-top: 16px;

                .signinlink {
                font-size: 14px;
                font-weight: 400;
                font-family: 'Graphik';
                color: #667085;
                }

                .span {
                    font-size: 14px;
                    font-weight: 500;
                    color: #1C64F2;
                }
            }

        
        }
    }
}

@media (min-width: 721px) and (max-width: 1024px) {
    .signupcontainer, .signincontainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .getStarted {
                margin-top: 8px;
                // font-size: 24px;
            }

            .logo {
                width: 48px;
                height: 48px;
            }
        }

        .content {
            margin-top: 24px;
            width: 100%;

            .borderline {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                margin-top: 35px;
    
                .line {
                    border-bottom: 1px solid #E2E8F3;
                    width: 153px;
                    margin: 0 5px;
                }
    
                .line2 {
                    border-bottom: 1px solid #E2E8F3;
                    width: 148px;
                    margin: 0 5px;
                }
                .divider {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #667085;
                    text-transform: uppercase;
                    font-family: 'Graphik';
                }
            }
        }
        .namefields {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .form {
            width: 100%;
        
            .emailerror {
                color: #7E8FB5;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Graphik';

            }

            .passworderror {
                font-size: 14px;
                color: #F04438;
                font-weight: 400;
                font-family: 'Graphik';
            }

            .passwordfield {
                position: relative;
            }

            .passwordcontainer {
                width: 100%;
                position: relative;
                margin: 30px 0 16px 0;
        
                .inputicon {
                    position: absolute;
                    top: 42px;
                    right: 14px;
                }

                .passwordlabel {
                    margin-top: 16px;
                }
        
                .passwordwithicon {
                    width: 100%;
                }
            }
        }

        .links {
            text-decoration: none;
            cursor: pointer;
        }

        .pageLink {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;

            .nav {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                gap: 4px;
                margin-top: 16px;

                .signinlink {
                font-size: 14px;
                font-weight: 400;
                font-family: 'Graphik';
                color: #667085;
                }

                .span {
                    font-size: 14px;
                    font-weight: 500;
                    color: #1C64F2;
                }
            }

        
        }
    }
}

@media (min-width: 1025px) and (max-width: 1199px) {
    .signupcontainer, .signincontainer {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .getStarted {
                margin-top: 8px;
                // font-size: 24px;
            }

            .logo {
                width: 48px;
                height: 48px;
            }
        }

        .content {
            margin-top: 24px;
            width: 100%;

            .borderline {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                margin-top: 35px;
    
                .line {
                    border-bottom: 1px solid #E2E8F3;
                    width: 153px;
                    // margin: 0 5px;
                }
    
                .line2 {
                    border-bottom: 1px solid #E2E8F3;
                    width: 148px;
                    margin: 0 5px;
                }
                .divider {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #667085;
                    text-transform: uppercase;
                    font-family: 'Graphik';
                }
            }
        }
        .namefields {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .form {
            width: 100%;
        
            .emailerror {
                color: #7E8FB5;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Graphik';

            }

            .passworderror {
                font-size: 14px;
                color: #F04438;
                font-weight: 400;
                font-family: 'Graphik';
            }

            .passwordfield {
                position: relative;
            }

            .passwordcontainer {
                width: 100%;
                position: relative;
                margin: 30px 0 16px 0;
        
                .inputicon {
                    position: absolute;
                    top: 42px;
                    right: 14px;
                }

                .passwordlabel {
                    margin-top: 16px;
                }
        
                .passwordwithicon {
                    width: 100%;
                }
            }
        }

        .links {
            text-decoration: none;
            cursor: pointer;
        }

        .pageLink {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;

            .nav {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                gap: 4px;
                margin-top: 16px;

                .signinlink {
                font-size: 14px;
                font-weight: 400;
                font-family: 'Graphik';
                color: #667085;
                }

                .span {
                    font-size: 14px;
                    font-weight: 500;
                    color: #1C64F2;
                }
            }

        
        }
    }
}

@media (min-width: 1200px) {
    .signupcontainer, .signincontainer {
        // margin: 0 auto;
        // width: 100%;
        // display: flex;

    

        .main {
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
            height: 592.04px;
            margin: 0 auto;
            width: 360px;

            .header {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .getStarted {
                    margin-top: 24px;
                }

                .logo {
                    width: 48px;
                    height: 48px;
                }
            }

            .content {
                margin-top: 32px;

                .borderline {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 35px;
                    margin-bottom: 20px;
        
                    .line {
                        border-bottom: 1px solid #E2E8F3;
                        width: 153px;
                    }
        
                    .divider {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        color: #667085;
                        text-transform: uppercase;
                        font-family: 'Graphik';
                    }
                }
        
        
                form {
                    width: 100%;
        
                    .namefields {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                    }
                    
                    .emailerror {
                        color: #7E8FB5;
                        font-size: 14px;
                        font-weight: 400;
                        font-family: 'Graphik';

                    }

                    .passworderror {
                        font-size: 14px;
                        color: #F04438;
                        font-weight: 400;
                        font-family: 'Graphik';
                    }

                    .passwordfield {
                        position: relative;
                    }
        
                    .passwordcontainer {
                        width: 100%;
                        position: relative;
                        margin: 16px 0 16px 0;
                
                        .inputicon {
                            position: absolute;
                            top: 42px;
                            right: 14px;
                        }

                        .passwordlabel {
                            margin-top: 16px;
                        }
                
                        .passwordwithicon {
                            width: 100%;
                        }
                    }
                }

            }

            
    
        }

        .links {
            text-decoration: none;
            cursor: pointer;
        }

        .pageLink {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;

            .nav {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                gap: 4px;
                margin-top: 24.04px;

                .signinlink {
                font-size: 14px;
                font-weight: 400;
                font-family: 'Graphik';
                color: #667085;
                }

                .span {
                    font-size: 14px;
                    font-weight: 500;
                    color: #1C64F2;
                }
            }

        
        }

    }

}